/* Rainbow Bar */
.rainbow {
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

.rainbow-progress {
  animation: moveGradient 8s linear infinite;
  background: linear-gradient(
    90deg,
    red 0%,
    yellow 15%,
    lime 30%,
    cyan 50%,
    blue 65%,
    magenta 80%,
    red 100%
  );
  background-size: 200%;
  border-radius: 3px;
  height: 2px;
  width: 100%;
}

/* Animations */
@keyframes moveGradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}
