html {
  background-color: #fcfcfc;
}
body{
  padding-left: 8em;
  padding-right: 8em;
  font-family: 'Chewy', cursive;
}
.nav {
  box-shadow: 0px 0px 5px #a3a3a3;
}
.hoverMe {
  opacity: .7;
  -webkit-transition: opacity 2s;
}
.hoverMe:hover {
  opacity: 1;
  transition: 1000ms;
}
#flower{
  overflow: scroll;
  height: 44.3em;
}

@media (max-width: 768px) {
  body {
    padding-left: 1em;
    padding-right: 1em;
  }
}

@media (min-width: 1384px) {
  #flower {
    height: 48.8em;
  }
}
/*#my-div{
  height: 50%;
  width: 50%;
  margin-left: -55%;
}*/
