.wrapper, .wrapper2 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  font-weight: bold;
  text-align: center;
}
.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}
.wrapper2 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: column;
  flex-flow: column;

  font-weight: bold;
  text-align: center;
}
.wrapper2 > * {
  padding: 1em;
  flex: 1 1%;
  width: 58%;
  margin: 0 auto;
}
.wrapper2 {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: row;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}
@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
  .wrapper2 {flex-direction: column;}
}

@media all and (max-width: 800px) {
  footer {
     position:fixed;
     left:0px;
     bottom:0px;
     height:30px;
     width:100%;
     background:#999;
  }
  * html footer {
     position:absolute;
  }
  header {
     position:fixed;
     left:0px;
     top: 0px;
     /*bottom:100px;*/
     height:30px;
     width:100%;
     background:#999;
  }
  * html header {
     position:absolute;
  }
}
