/* Variables */
:root {
  --highligh-grey-color: #ababab;
  --main-grey-color: #4a4a4a;
  --main-yellow-color: #a6870b;
}

/* Global Styles */
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: #111;
  font-family: 'Montserrat', sans-serif;
  text-rendering: optimizeLegibility;
}

body {
  box-sizing: border-box;
  color: var(--main-grey-color);
  display: flex;
  flex-direction: column;
  font-weight: 500;
  line-height: 1.5;
  margin: 2.5rem 2.5rem 0 2.5rem;
  min-height: calc(100vh - 2.5rem);
  padding: 0 10rem;
}

footer {
  background: #111;
  bottom: 0;
  font-size: 90%;
  left: 0;
  margin-top: auto;
  padding: 9px 0;
  text-align: center;
  width: 100%;
}

.footer-link {
  color: unset;
}

.footer-link:hover {
  color: var(--main-yellow-color);
}

/* Typography */
span {
  white-space: nowrap;
}
.name {
  color: var(--highligh-grey-color);
  font-family: 'Gasoek One';
  font-feature-settings: unset;
  font-size: 4vw;
  user-select: none;
}

.subtext {
  color: var(--main-yellow-color);
  font-size: 1.5rem;
  font-variant: small-caps;
  font-weight: bold;
  position: absolute;
  right: 210px;
  top: 48px;
  transform: rotate(4deg);
}

/* Layout Styles */
article {
  margin-bottom: 2.5rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.rotater {
  position: absolute;
  transform: rotate(-1deg);
}

.command-res-wrapper {
  margin: 12px;
}

/* Other Styles */
.socials {
  color: unset;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    color: var(--main-yellow-color);
  }
}

.describe {
  color: #cdee69;
  margin: 6px 12px;
}

.response2 {
  color: #e09690;
}

.describe-which-list {
  font-size: 80%;
}

.about {
  line-height: 1.14rem;
  font-family: 'Ubuntu', monospace;
  padding-top: 5rem;
}

/* Media Queries */
@media (max-width: 1225px) {
  body {
    padding: 0 0.2rem;
  }
  .name {
    font-size: 10vw;
  }
  .subtext {
    font-size: 0.8rem;
    font-weight: unset;
    right: 60px;
    position: unset;
    transform: unset;
  }
  /* .describe {
  } */
}

@media (max-width: 500px) {
  .command-res-wrapper {
    font-size: 85%;
  }
  .btn {
    padding: 0.8em 1.25rem;
    font-size: 0.8rem;
  }
  article {
    margin-bottom: 1.5rem;
  }

  .about {
    padding-top: 2.5rem;
  }
}
