/* Variables */
:root {
  --highligh-grey-color: #ababab;
  --main-grey-color: #4a4a4a;
  --main-yellow-color: #a6870b;
  --link-yellow-color: #765c00;
  --paragraph-color: #ae9c6b;
}

/* Global Styles */
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: #111;
  font-family: 'Montserrat', sans-serif;
  text-rendering: optimizeLegibility;
}

h3 {
  color: var(--main-yellow-color);
  margin-bottom: 8px;
}

strong {
  color: var(--main-yellow-color);
}

sup {
  color: var(--link-yellow-color);
}

body {
  box-sizing: border-box;
  color: var(--main-grey-color);
  display: flex;
  flex-direction: column;
  font-weight: 500;
  line-height: 1.5;
  margin: 2.5rem 2.5rem 0 2.5rem;
  min-height: calc(100vh - 2.5rem);
  padding: 0 25rem;
}

footer {
  background: #111;
  bottom: 0;
  font-size: 90%;
  left: 0;
  margin-top: auto;
  padding: 9px 0;
  text-align: center;
  width: 100%;
}

hr {
  margin: 16px 0;
  border: none;
  border-top: 1px solid var(--link-yellow-color);
  opacity: 0.3;
  /* width: 50%; */
}

a {
  text-decoration: none;
}

.bio > p {
  color: var(--paragraph-color);
}

.links-container {
  width: 20%;
}

.links-container-mobile {
  display: none;
}

.links-container-mobile > .links {
  margin: 20px 0;
}

.links {
  display: flex;
  white-space: nowrap;
  justify-content: space-between;
  margin: 8px 0;
  color: var(--main-yellow-color);
}

.links > p {
  margin-right: 20px;
}

.links > a {
  color: var(--link-yellow-color);
  text-decoration: none;
}

.links > a:hover {
  /* display: inline-block; */
  text-decoration: line-through;
  transform: scale(1.1);
}

.footer-link {
  color: unset;
}

.footer-link:hover {
  color: var(--main-yellow-color);
}

/* Typography */
span {
  white-space: nowrap;
}
.name {
  color: var(--highligh-grey-color);
  font-family: 'Gasoek One';
  font-feature-settings: unset;
  font-size: 4vw;
  user-select: none;
  white-space: nowrap;
}

.subtext {
  color: var(--main-yellow-color);
  font-variant: small-caps;
  font-weight: bold;
  position: absolute;
  top: 48px;
  transform: rotate(4deg);

  font-size: 0.8rem;
  right: 60px;
  position: unset;
  transform: unset;
}

/* Layout Styles */
article {
  margin-bottom: 2.5rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.rotater {
  position: absolute;
  transform: rotate(-1deg);
}

.command-res-wrapper {
  margin: 12px;
}

/* Other Styles */
.socials {
  color: unset;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    color: var(--main-yellow-color);
  }
}

.describe {
  color: #cdee69;
  margin: 6px 12px;
}

.response2 {
  color: #e09690;
}

.describe-which-list {
  font-size: 80%;
}

.about {
  line-height: 1.14rem;
  font-family: 'Ubuntu', monospace;
  padding-top: 5rem;
}

.beat-link {
  color: var(--main-yellow-color);
  /* font-weight: bold; */
  text-decoration: none;

  &:hover {
    color: #cdee69;
  }
}

/* Media Queries */
@media (max-width: 1225px) {
  body {
    padding: 0 0.2rem;
  }
  .name {
    font-size: 10vw;
  }
}

@media (max-width: 500px) {
  .command-res-wrapper {
    font-size: 85%;
  }
  .btn {
    padding: 0.8em 1.25rem;
    font-size: 0.8rem;
    display: block;
  }

  .rotater {
    transform: rotate(0deg);
    width: 80%;
  }

  article {
    margin-bottom: 1.5rem;
  }

  .about {
    padding-top: 2.5rem;
  }
  .links-container {
    display: none;
  }

  .links-container-mobile {
    display: block;
  }
}
