.fakeButtons {
  background-color: #ff3b47;
  border-color: #9d252b;
  border-radius: 50%;
  border: 1px solid #000;
  display: inline-block;
  height: 10px;
  left: 6px;
  position: relative;
  top: 4px;
  user-select: none;
  width: 10px;
}

.fakeMinimize {
  background-color: #ffc100;
  border-color: #9d802c;
}

.fakeZoom {
  background-color: #00d742;
  border-color: #049931;
}

.fakeMenu {
  background-color: #bbb;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-sizing: border-box;
  height: 25px;
  margin: 0 auto;
  user-select: none;
  width: 100%;
}

.fakeScreen {
  background-color: #151515;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
  user-select: none;
  width: 100%;
}

.terminalCommand1,
.response1,
.response2,
.terminalCommand2 {
  font-family: monospace;
  white-space: normal;
  width: 100%;
}

.cursor {
  color: #fff;
  font-weight: bold;
}

.terminalCommand1 {
  color: #9cd9f0;
}

.response1 {
  color: #cdee69;
}

.terminalCommand2 {
  color: #9cd9f0;
}

.line4 {
  color: #fff;
}

.cursor {
  -webkit-animation: blink 1s infinite;
  -moz-animation: blink 1s infinite;
  -o-animation: blink 1s infinite;
  animation: blink 1s infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
